/* || General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 2%;
}

main {
    height: 88vh;
    margin: auto;
}

section {
    height: 100%;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

button:hover:not([disabled]) {
    border: 2px solid #fa8d62;
    cursor: pointer;
}

/* || Typography */

h1,
h2 {
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: clamp(1rem, 8vw, 3rem);
}

h2 {
    font-size: clamp(1rem, 6.5vw, 2.2rem);
    padding-bottom: 5%;
}

/* || Game area styles */

.play-btn-container,
.answer-btn-container,
.results-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 0;
    gap: 0.5%;
}

.answer-btn,
.results-squares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20vw;
    background-color: #F6F5F5;
    border-radius: 10px;
    font-size: clamp(1rem, 5vw, 2.5rem);
}

.results-block-container i {
    color: #cdf6ff;
    font-size: 11vw;
}

.correct-answer {
    background-color: #7dcb69;
}

.wrong-answer {
    background-color: #fa8d62;
}

#play-btn {
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    font-size: clamp(1rem, 7.5vw, 2.7rem);
    background-color: #cdf6ff;
}

#play-btn:active {
    background-color: #fff;
    transition: 0.1s all;
}

/* || Footer */

footer {
    height: 5vh;
    padding: 1.5% 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 6vw, 2.5rem);
    text-decoration: none;
    color: #000;
}

/* || Media queries */

@media screen and (min-width: 862px) {
    main {
        width: 75%;
    }

    .answer-btn,
    .results-squares {
        height: 20vh;
    }

    .results-block-container i {
        font-size: 8vw;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 60%;
    }

    .answer-btn,
    .results-squares {
        height: 15vh;
    }

    .results-block-container i {
        font-size: 5.3vw;
    }
}