body {
    background: beige;
}

p {
    text-align: center;
}

/* button {
    border-radius: 10px;
} */

.play-btn-container,
.answer-btn-container,
.results-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 0;
    gap: 0.5%;
}

#play-btn {
    width: 52%;
    height: 40vh;
    background-color: rgb(243, 232, 176);
    border-radius: 10px;
    font-size: 2rem;

}

.answer-btn,
.results-squares {
    width: 10%;
    height: 100px;
    background-color: rgb(243, 232, 176);
    border-radius: 10px;
    font-size: 2rem;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

